In [13]:
import pandas as pd

In [12]:
import numpy as np

In [3]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array(my_list)
d={'a':10,"b":20,"c":30}

In [4]:
labels

['a', 'b', 'c']

In [5]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

ModuleNotFoundError: No module named 'np'

In [15]:
import numpy as np

In [16]:
import pandas as pd

In [18]:
from numpy.random import randn

In [19]:
np.random.seed(101)

In [20]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [22]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [28]:
df['NEW']=df['W']+df['Y']

In [29]:
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762